/*Ventana modal*/

#modal-puzzle-computer{
    background-image: url('../resources/dialogBox/CardX5.png');
    background-size: 100% 100%; 
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px;
    width: 70vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
  }

/*Cosas del pc*/
.noselect {
    -webkit-touch-callout: none; /* Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera, and Firefox */
}

#screen-computer {
    position: relative;
    width: 70rem; /* updated from 50em */
    height: 40rem; /* updated from 31.25em */
    background-color: green;
    overflow: hidden;
    border-radius: 40px;
}

#scan-computer, #bezel-computer {
    position: relative;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
}

#scan-computer {
    opacity: 80%;
}
#bezel-computer{
    transform: translate(0, -100%); 
}
#content-computer {
    position: relative;
    font-family: VT323;
    padding: 3.125rem; /* updated from 3.125em */
    color: rgb(177, 253, 0);
    font-size: 1.75rem; /* updated from 1.25em */
    text-shadow: 0.0625rem 0.0625rem 0.125rem rgb(150, 167, 124), 0 0 1rem rgb(150, 167, 124), 0 0 0.125rem rgb(150, 167, 124);
    overflow-y: auto;
    word-wrap: break-word;
    height: calc(100% - 6.25rem); /* Adjust for padding, updated from 6.25em */
    transform: translate(0, -230%);
}


#word-container-computer p {
    text-align: justify;
}

#word-container-computer p span {
    display: inline-block;
    padding: 0.125rem 0.3125rem; /* updated from 0.125em 0.3125em */
    margin-right: 0.3125rem; /* updated from 0.3125em */
    margin-bottom: 0.3125rem; /* updated from 0.3125em */
    cursor: pointer;
}

#word-container-computer p span:hover {
    background-color: rgb(177, 253, 0);
    color: green;
}

#text-back-computer:hover {
    background-color: rgb(177, 253, 0);
    color: green;
}

#password-computer {
    font-family: VT323;
    width: 20rem; /* updated from 15.625em */
    height: 4rem;
    font-size: 2rem;
    padding: 0.625rem; /* updated from 0.625em */
    margin: 0.3125rem 0; /* updated from 0.3125em */
    margin-bottom: 1.5rem;
    text-shadow: 0.0625rem 0.0625rem 0.125rem rgb(150, 167, 124), 0 0 1rem rgb(150, 167, 124), 0 0 0.125rem rgb(150, 167, 124);
    background-color: green;
    border: 0.125rem solid rgb(177, 253, 0);
    color: rgb(177, 253, 0);
}

#password-computer:focus {
    border-color: rgb(177, 253, 0);
}

#password-computer::placeholder {
    color: rgb(177, 253, 0);
}

#submit-computer:hover {
    background-color: rgb(177, 253, 0);
    color: green;
}
#clue-computer{
    width: 500px;
    height: 500px;
    background-image: url("../resources/img/pistaPC.png");
    position: relative;
    left: 33%;
    top: 10%;
    background-size: contain;
    background-repeat: no-repeat;
}

.password-screen-computer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.log-computer {
    white-space: pre-wrap;
}
.entry-computer:hover {
    background-color: rgb(177, 253, 0);
    color: green;
}
