/* Estilos generales del cuerpo del documento */
#body-crystal {
    font-family: 'Consolas', monospace; 
    margin: 20px; /* Espaciado alrededor del contenido de la página */
    text-align: center; /* Centra el contenido textual */
}

.button-crystal {
    background-color: transparent; /* Fondo transparente */
    color: #42d142; /* Color del texto */
    border: 2px solid #42d142; /* Borde del color deseado */
    border-radius: 10px; /* Esquinas redondeadas */
    padding: 10px 20px; /* Espaciado interno */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
    margin: 10px;
}

.button-crystal:hover {
    background-color: #42d14240; /* Cambia el fondo al pasar el ratón */
    color: white; /* Cambia el color del texto al pasar el ratón */ /* Cambio de color de fondo al pasar el mouse para mejorar la interactividad */
}
#h1-crystal{
    font-size: 30px;
    font-weight: bolder;
    margin: 3px;
}
.text-crystal{
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
    color: #42d142;
    
    line-height: 1; /* Altura de línea */
}
.warning-text-crystal{
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.3);
    color: #ee1b1b;
    line-height: 1; /* Altura de línea */
}

#game-container-crystal {
    position: absolute; /* Posición absoluta para que puedas ubicarlo en cualquier lugar */
    top: 0; /* Alineado a la parte superior de la ventana */
    left: 0; /* Alineado al lado izquierdo de la ventana */
    right: 0; /* Alineado al lado derecho de la ventana */
    bottom: 0; /* Alineado a la parte inferior de la ventana */
    background-image: url('../resources/img/Crystalarium/CrystalariumBackgroundPhase3.png');
    background-position: center center; /* Centra la imagen de fondo */
    background-repeat: no-repeat; /* No repetir la imagen */
    background-size: 100% 100%;  
}

#screen-crystal {
    position: absolute;
    top: 100px;
    left: 590px;
    width: 740px;
    height: 490px;
    /* Agrega cualquier otro estilo que necesites para la pantalla */
}
/* Estilos para los botones de colores */
.color-btn-crystal {
    width: 50px; /* Ancho del botón */
    height: 50px; /* Altura del botón */
    border: none; /* Sin borde */
    margin: 5px; /* Margen alrededor de los botones */
    cursor: pointer; /* Cursor en forma de mano al pasar el mouse sobre el botón */
    outline: none; /* Elimina el contorno al hacer clic */
    transition: box-shadow 0.3s; /* Transición suave para la sombra */
    border-radius: 10px;
}

.color-btn-crystal:hover {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.6); /* Sombra al pasar el mouse para mejorar la interactividad */
}

#botones-crystal {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin-top: 20px; /* Espacio superior */
}

#fase3-container-crystal {
    position: absolute; /* Posiciona el contenedor de la fase 3 absolutamente dentro de #screen */
    top: 0; /* Alinea con la parte superior de #screen */
    left: 0; /* Alinea con el lado izquierdo de #screen */
    width: 100%; /* Asegura que el contenedor de la fase 3 ocupe todo el ancho disponible de #screen */
    height: 100%; /* Asegura que el contenedor de la fase 3 ocupe toda la altura disponible de #screen */
    overflow: auto; /* Añade barras de desplazamiento si el contenido es más grande que el contenedor */
}