@font-face {
    font-family: 'FutureZ';
    src: url('../fonts/Future_Z.ttf') format('truetype'),
         url('../fonts/Future_Z.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-one: #CCAC00;
    --color-two: #003B59;
    --color-three: #857E7B;
    --color-four: #00CECB;
    --color-five: #CDF7F6;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ecf0f1;
}

.titulo {
    font-family: 'FutureZ';
    color: var(--color-one);
    font-size: 3.125rem; /* 50px / 16px */
}
.hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

