/*Main CSS*/
@font-face {
  font-family: "FutureZ";
  src: url("../fonts/Future_Z.ttf") format("truetype"),
    url("../fonts/Future_Z.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-one: #ccac00;
  --color-two: #003b59;
  --color-three: #857e7b;
  --color-four: #00cecb;
  --color-five: #cdf7f6;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ecf0f1;
}

.titulo {
  font-family: "FutureZ";
  color: var(--color-one);
  font-size: 3.125rem; /* 50px / 16px */
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
/*----INTRO----*/

#introBackground {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-image: url("../resources/img/PuertaFondo1.png");
}
#introContainer {
  background-image: url("../resources/dialogBox/CardX5.png"); /* Añade la imagen de fondo al contenedor */
  background-size: 100% 100%; /* Asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Centra la imagen de fondo */
  padding: 1.25em; /* Agrega padding para no tener texto pegado a los bordes */
}

#introParagraph {
  font-size: 1.25em; /* Establece el tamaño de la fuente a 20px */
  line-height: 2; /* Establece el interlineado a 2*/
  text-align: justify; /* Justifica el texto del párrafo */
  margin: 2.5em;
}
#startButton {
  background-image: url("../resources/Button/ButtonNormal.png"); /* Imagen de fondo normal */
  border: none; /* Eliminar el borde del botón */
  color: white; /* Color del texto */
  background-color: transparent;
  padding: 0.625em 1.25em; /* Padding para el botón */
  font-size: 1em; /* Tamaño de fuente */
  cursor: pointer; /* Cursor tipo pointer para indicar que es clickeable */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center; /* Para que la imagen de fondo cubra completamente el botón */
  outline: none; /* Eliminar el outline al hacer focus */
  margin: 1.25em;
}
#startButton:hover {
  background-image: url("../resources/Button/ButtonHover.png");
  transform: scale(1.05); /* Imagen de fondo al pasar el ratón */
}

#startButton:active {
  background-image: url("../resources/Button/ButtonActive.png"); /* Imagen de fondo al hacer clic */
}

/*----CINEMATIC----*/

.cinematicBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  transition: opacity 0.3s ease-in-out;
}

#blurryBackground {
  filter: blur(8px);
  z-index: 1;
  opacity: 1;
}

#centerImageContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#centerImage {
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  max-height: 100%;
  width: auto; /* Esto mantendrá la imagen en su tamaño original hasta el máximo permitido */
  height: auto;
  opacity: 1;
}

#cinematicDialogBox {
  position: absolute; /* Esto permite posicionar absolutamente los elementos hijos respecto a este */
  z-index: 2; /* Asegúrate de que este valor sea mayor que el del sprite para que la caja de diálogo aparezca encima */
  bottom: 1%;
  left: 50%;
  transform: translateX(-50%);
  width: 59.5625rem; /* 953px / 16px */
  height: 24.9375rem; /* 399px / 16px */
  max-height: 9.375rem; /* 150px / 16px */
  background: url("../resources/dialogBox/CardX5.png") no-repeat center center;
  background-size: 100% 100%;
  opacity: 1; /* Establecer la opacidad inicial completa */
  transition: opacity 0.5s ease-in-out; /* Transición suave de la opacidad */
}
#cinematicdialogText {
  font-size: 1em;
  line-height: 1.5; /* Establece el interlineado a 2*/
  text-align: justify; /* Justifica el texto del párrafo */
  margin: 2.5em;
}
#cinematicNextArrow {
  position: absolute;
  bottom: 10%;
  right: 10%;
  z-index: 4;
  cursor: pointer;
}

/* ----HUD IDs---- */

.backgroundImg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

/*Item Glows Section*/

#door-glow {
  position: fixed;
  top: 25vh;
  left: 42.7vw;
  height: 40vh;
  width: 14.5vw;
  background-image: url("../resources/glows/door-glow.png");
  background-size: cover; /* La imagen cubrirá todo el div */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  background-position: center; /* Centra la imagen */
  opacity: 0; /* Inicialmente oculta la imagen */
  transition: opacity 0.5s ease; /* Transición suave para la opacidad */
  cursor: pointer;
}

#door-glow:hover {
  opacity: 1;
}

#small-box-glow {
  position: fixed;
  top: 74vh;
  left: 15.5vw;
  height: 18.5vh;
  width: 10vw;
  background-image: url("../resources/glows/small-box-glow.png");
  background-size: cover; /* La imagen cubrirá todo el div */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  background-position: center; /* Centra la imagen */
  opacity: 0; /* Inicialmente oculta la imagen */
  transition: opacity 0.5s ease; /* Transición suave para la opacidad */
  cursor: pointer;
}

#small-box-glow:hover {
  opacity: 1;
}

/*Final Items Glows Section*/

/*Ventanas modales config*/

#background-overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#background-overlay.active {
  opacity: 1;
  pointer-events: all;
}

.modal-puzzle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 500ms ease-in-out;
  z-index: 10;
}

.modal-puzzle.active {
  transform: translate(-50%, -50%) scale(1);
}

.close-modal-btn {
    background-image: url("../resources/Button/ButtonNormal.png"); /* Imagen de fondo normal */
    border: none; /* Eliminar el borde del botón */
    color: white; /* Color del texto */
    background-color: transparent;
    padding: 0.625em 1.25em; /* Padding para el botón */
    font-size: 1em; /* Tamaño de fuente */
    cursor: pointer; /* Cursor tipo pointer para indicar que es clickeable */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center; /* Para que la imagen de fondo cubra completamente el botón */
    outline: none; /* Eliminar el outline al hacer focus */
    margin: 1.25em;
  }
  .close-modal-btn:hover {
    background-image: url("../resources/Button/ButtonHover.png");
    transform: scale(1.05); /* Imagen de fondo al pasar el ratón */
  }

/*Ventanas modales config end*/

.hud-button {
  margin-top: 10px;
  margin-right: 30px;
  margin-left: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hud-button:hover {
  transform: scale(1.05);
}
#optionsButton {
  background-image: url(../resources/Icons/24.png);
  width: 32px;
  height: 31px;
}

#hintButton {
  width: 20px; /* Ajusta según el tamaño deseado */
  height: 31px; /* Ajusta según el tamaño deseado */
  background-image: url(../resources/Icons/06.png);
}

#inventoryButton {
  width: 32px; /* Ajusta según el tamaño deseado */
  height: 31px; /* Ajusta según el tamaño deseado */
  background-image: url(../resources/Icons/13.png);
}
#hud {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
}

#dialogBox {
  position: fixed;
  bottom: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%; /* O el ancho que prefieras */
  height: 20%;
  z-index: 1001; /* Por encima del HUD */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../resources/dialogBox/CardX6.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

#speakerSprite {
  position: absolute;
  top: -260px;
  right: 40%; /* Ajusta para colocar encima del diálogo */
  width: 300px; /* Ajusta según el tamaño deseado */
  height: 300px; /* Ajusta según el tamaño deseado */
  z-index: 1; /* Detrás del texto del diálogo */
  background-size: contain; /* o contain, dependiendo de lo que necesites */
  background-repeat: no-repeat;
  background-position: center;
}

#speakerContainer {
  position: fixed;
  transform: translateY(70%);
  width: 80%;
}

#speakerName {
  padding: 0.313em;

  text-align: center;
}

#dialogTextContainer {
  position: fixed;
  transform: translateY(80%);
  width: 94%;
}

#dialogText {
  padding: 0.625em;
  text-align: center;
}

/*----Room 1----*/

#room1-background {
  background-image: url(../resources/img/Room1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}