#room1-background {
    background-image: url(../resources/img/Room1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#door-glow {
    position: fixed;
    top: 25vh;
    left: 42.7vw;
    height: 40vh;
    width: 14.5vw;
    background-image: url('../resources/glows/door-glow.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    cursor: pointer;
}

#door-glow:hover {
    opacity: 1;
}

#small-box-glow{
    position: fixed;
    top: 74vh;
    left: 15.5vw;
    height: 18.5vh;
    width: 10vw;
    background-image: url('../resources/glows/small-box-glow.png');
    background-size: cover; /* La imagen cubrirá todo el div */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-position: center; /* Centra la imagen */
    opacity: 0; /* Inicialmente oculta la imagen */
    transition: opacity 0.5s ease; /* Transición suave para la opacidad */
    cursor: pointer;
}

#small-box-glow:hover{
    opacity: 1;
}

#big-box-glow{
  position: fixed;
  top: 72vh;
  left: 66.5vw;
  height: 10vh;
  width: 10vw;
  background-image: url('../resources/glows/big-box-glow.png');
  background-size: cover; /* La imagen cubrirá todo el div */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  background-position: center; /* Centra la imagen */
  opacity: 0; /* Inicialmente oculta la imagen */
  transition: opacity 0.5s ease; /* Transición suave para la opacidad */
  cursor: pointer;
}

#big-box-glow:hover{
  opacity: 1;
}

#computer-glow{
  position: fixed;
  top: 64.6vh;
  left: 37.9vw;
  height: 4.9vh;
  width: 3.8vw;
  background-image: url('../resources/glows/computer-glow.png');
  background-size: cover; /* La imagen cubrirá todo el div */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  background-position: center; /* Centra la imagen */
  opacity: 0; /* Inicialmente oculta la imagen */
  transition: opacity 0.5s ease; /* Transición suave para la opacidad */
  cursor: pointer;
}

#computer-glow:hover{
  opacity: 1;
}
