#room1-background {
    background-image: url(../resources/img/Room1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#door-glow {
    position: fixed;
    top: 25vh;
    left: 42.7vw;
    height: 40vh;
    width: 14.5vw;
    background-image: url('../resources/glows/door-glow.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    cursor: pointer;
}

#door-glow:hover {
    opacity: 1;
}

#small-box-glow{
    position: fixed;
    top: 74vh;
    left: 15.5vw;
    height: 18.5vh;
    width: 10vw;
    background-image: url('../resources/glows/small-box-glow.png');
    background-size: cover; /* La imagen cubrirá todo el div */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-position: center; /* Centra la imagen */
    opacity: 0; /* Inicialmente oculta la imagen */
    transition: opacity 0.5s ease; /* Transición suave para la opacidad */
    cursor: pointer;
}

#small-box-glow:hover{
    opacity: 1;
}


#background-overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #background-overlay.active {
    opacity: 1;
    pointer-events: all;
  }

  .modal-puzzle {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 500ms ease-in-out;
    z-index: 10;
  }
  
  .modal-puzzle.active {
    transform: translate(-50%, -50%) scale(1);
  }

  .close-modal-btn {
    background-image: url("../resources/Button/ButtonNormal.png"); /* Imagen de fondo normal */
    border: none; /* Eliminar el borde del botón */
    color: white; /* Color del texto */
    background-color: transparent;
    padding: 0.625em 1.25em; /* Padding para el botón */
    font-size: 1em; /* Tamaño de fuente */
    cursor: pointer; /* Cursor tipo pointer para indicar que es clickeable */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center; /* Para que la imagen de fondo cubra completamente el botón */
    outline: none; /* Eliminar el outline al hacer focus */
    margin: 1.25em;
  }
  .close-modal-btn:hover {
    background-image: url("../resources/Button/ButtonHover.png");
    transform: scale(1.05); /* Imagen de fondo al pasar el ratón */
  }