

#jm-2 {
    background-color: #f46060;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;

}

#maze-header{
    width: 200px; /* Ancho inicial del contenedor */
    height: 200px; /* Altura inicial del contenedor */
    position: relative;
    margin: 10px;
}
#enterRoom{
    display: block; /* Ocultar el botón inicialmente */
    position: absolute; /* Posicionamiento absoluto para que ocupe espacio */
    left:50%;
    transform: translate(-50%, -50%); /* Centrar con respecto al contenedor */
}

h1 {
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
    font-family: 'Courier New', Courier, monospace;
}

#maze-container {
    border: 10px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    width: max-content;
    height: max-content;
    border-radius: 10px;
}

.row {
    display: flex;
}

.cell {
    width: 50px;
    height: 50px;
    border: 5px solid whitesmoke;
}

.road2{
    background-color: rgb(194, 194, 194);
}

.road1{
    background-color:rgb(142, 211, 73);
}

.wall {
    border: 5px solid black;
    background-color: black;
}

.pj {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.door {
    position: absolute;
    bottom: 0px;
    right: 0px;
}


button {
    width: 150px;
    border-radius: 20px;
    border: none;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 20px;
    display: block;
    
}